.header-container {
	width: initial;
	height: 10%;
  background-color: whitesmoke;
  display: flex;
	justify-content: center;
	border-bottom: solid 1px;
	align-items: center;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-right-width: 0px;
}


.header-item{
	width: 75%;
	display: flex;
	align-items: center;


}

.logo {
	transition: .2s;
	height: 9em;
	width: 9em;
	position:relative;

}

.logo:hover {
	transform: scale(1.1);
	transition-timing-function: ease-out;
	transition: .2s;
}

.mid{
	width: 60%;
	display: flex;
	justify-content: flex-end;

}

.mid-corner{
	display: flex;
	/*align-items: flex-start;*/
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

}

.header {
    height: 10%;
    font-family: Arial, Helvetica, sans-serif;
	color: rgb(38, 38, 38);
	margin-top: 10%;
	margin-bottom: 0%;
	margin-right: 0.2em;
	padding: 0px;
}


.primary_area {
	font-size: 1.5em;
	height: 1.2em;
    font-family: Arial;
	text-align: center;
	margin-top: 5%;
	/*horiz-align: center;*/
	/*margin-left: 20px;*/

}

.secondary_area {
	font-size: 1.5em;
    height: 6.67em;
    font-family: Arial;
	border-radius: 0.25em;
	border-color: rgb(230, 230, 230);
	horiz-align: center;
}

.login_button {
	font-size: 1em;
	height: 1.5em;
	font-family: Arial;
	align-items: center;
	justify-content: flex-end;
}


.compass {
	margin-right: 0.5em;
	margin-top: 1.4em;
	width: 2.6em;
	height: 2.6em;
}

cpa {
	position: relative;
	animation: rotation 2s linear infinite;
	-moz-animation: rotation 2s linear infinite;

}
@keyframes rotation {
	100% {transform: rotate(360deg)}

}

@-moz-keyframes rotation{ 100%
{transform: rotate(360deg)}

}